body {
  background-color: white;
  display: grid;
  place-items: center;
}
.calculadora {
  background-color: #f3f3f3;
  width: 320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 8px;
  padding: 6px;
  column-gap: 4px;
}
.pantalla {
  grid-column: 1 / 5;
  width: 313px;
  height: 120px;
  border-radius: 8px;
  margin-bottom: 2px;
  font-family: "Rubik", sans-serif;
  color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding-right: 5px;
}
.btn {
  width: 77px;
  height: 50px;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 3px;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
}
.btn:hover {
  background-color: #f6f6f6;
}
.btn.num {
  background-color: #fff;
}
.btn.num:hover {
  background-color: #fcfcfc;
}
.btn:active {
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  opacity: 0.4;
}
.simbolos {
  font-size: 1.5rem;
}
.simbolos:focus {
  font-size: 1.4rem;
}
.suma:hover,
.suma:focus {
  color: #008c23;
}
.resta:hover,
.resta:focus {
  color: #d90000;
}
.division:hover,
.division:focus {
  color: #d9a300;
}
.multiplicacion:hover,
.multiplicacion:focus {
  color: #002db2;
}
.resultado:hover,
.resultado:focus {
  color: #ff7f00;
}
